/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body {
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;


}

#nav-bar {
    background-color: rgba(160, 223, 226, 0.53);
    /*width: 25%;*/
    min-width: 320px;

}

#nav-bar ul {
    padding: 10px;
}

#nav-bar ul li {
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid transparent;
}

#nav-bar ul li:hover{
    cursor: pointer;
    background-color: #F8E391;
    box-shadow: 0px 0px 16px 2px rgba(163,163,163,1);
}
#nav-bar ul li:active{
    cursor: pointer;
    background-color: #F8E391;
    border: 1px solid white;
}
#nav-bar ul li:focus{
    cursor: pointer;
    background-color: #F8E391;
    border: 1px solid white;
}

#work-area {
    padding-left: 20px;
    width: 100%;
}

.addForm{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin: 0px;
}
.addForm2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    height: 40px;
}

.addForm ul li{
    background-color: white;
    /*border: none;*/
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: 100%;
    padding-top: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border: 1px solid transparent;
}

.addForm ul li:hover{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.addForm ul{
    width: 100%;
    padding: 0px;
}

.addForm select{
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
}

.addForm {
    /*border-bottom: 1px solid black;*/
    margin-left: -20px;
    height: 50px;
    padding: 0px;
    /*box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.56);*/
    box-shadow: 0 4px 5px -1.8px rgba(163,163,163,1);;
}


/*****************/
#input-blocks{
    display: flex;
    flex-wrap: wrap;
    flex: border-box;
    justify-content: space-around;
    align-items: stretch;

}
.input-block{
    width: 23em;
    background-color: grey;
    padding: 1.3em;
    border: 1px solid black;
    border-radius: 2ex;
    box-sizing:  content-box;
    margin: 1em;


}
.all-inputs {
  float: right;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin-top: 20px;
}
th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    font-weight: bold;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

#yearDisplay{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
}
#last{
}

#last td{
    background: #BCEBDD;
    font-weight: bold;
}

#categoryName {
    font-weight: bold;
    cursor: default;
}

#categoryName:hover{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}